
#titulo{
	padding-left: 10px;
	padding-top: 15px;
}

#actividades h2{
	padding-top: 10px;
	padding-bottom: 10px;
}

#actividades .ui-content ul li a{
	background-color: #3d3d3f;
	border-color: #3d3d3f;
}

.logo{
	display:block;
	margin-right:auto;
	margin-left:auto;
	padding-top:10px;
	padding-bottom:10px;
}

.ui-icon-inform:after {
		background-image:url(img/info.png);
		
	}

.ui-navbar ul li a{
	height:10vh;
	border:none;
}	

.ui-navbar ul li:nth-child(1) a{
	background:url(img/home.png) no-repeat center center;
	background-size: auto 70%;
}

.ui-navbar ul li:nth-child(2) a{
	background:url(img/act.png) no-repeat center center;
	background-size: auto 70%;
}

.ui-navbar ul li:nth-child(3) a{
	background:url(img/colec.png) no-repeat center center;
	background-size: auto 70%;
}

.ui-navbar ul li:nth-child(4) a{
	background:url(img/mapa.png) no-repeat center center;
	background-size: auto 70%;
}
	
#menu{
	background-color:#3388cc;
	border:none;
}
	
h1,h2,h3{
	font-weight:normal;
}

#datos{
	background-color:#3d3d3f;
}

.item1{
	width: 100%;
	height: 20vh;
	background: white;
	border: 5px solid #00000a;
	box-sizing: border-box;
	background-image: url("img/arnaiz.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
.item6{
	width: 100%;
	height: 20vh;
	background: white;
	border: 5px solid #00000a;
	box-sizing: border-box;
	background-image: url("img/avello.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
.item2{
	width: 100%;
	height: 30vh;
	background: white;
	border: 5px solid #00000a;
	box-sizing: border-box;
	background-image: url("img/uriburu.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
.item5{
	width: 100%;
	height: 30vh;
	background: white;
	border: 5px solid #00000a;
	box-sizing: border-box;
	background-image: url("img/espinosa.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
.item3{
	width: 100%;
	height: 50vh;
	background: white;
	border: 5px solid #00000a;
	box-sizing: border-box;
	background-image: url("img/aizenberg.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
.item4{
	width: 100%;
	height: 50vh;
	background: white;
	border: 5px solid #00000a;
	box-sizing: border-box;
	background-image: url("img/delprete.jpg");
	background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
